
.my_header{

    width : 100%;
    background-color: rgb(161, 206, 206);
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 10px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.75);
    
}


.nav__logo{
    width: 100px;
    height: auto;
    margin-left: 2%;

}

.text{
    margin-left: 30px;
    color: rgb(104, 54, 241);
}
